{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .main-section_text {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        background: 'red';
    }
{%- endstyle -%}

<style>
    .main-section_container {
        background: 'blue';
    }
</style>

    <div class="main-section_container">
        {% render 'image-section' %}
        <div class="main-section_text">
            {% render 'title-description' %}
            {% render 'text-description' %}
        </div>
    </div>

{% schema %}
    {
        "name": "t:sections.main-about.name",
        "tag": "section",
        "class": "section",
        "settings": []
    }
{% endschema %}